version: '3.8'

services:
  # Backend Service
  backend:
    build: ./backend
    ports:
      - "8000:8000"
    environment:
      - PORT=8000
      - REDIS_URL=redis://redis:6379
      - MONGO_URI=mongodb+srv://surajbhanrana06_db_user:0tOwWJiw5Z3y89S3@product-hub.tibstt1.mongodb.net/product-hub?retryWrites=true&w=majority
    depends_on:
      - redis
    networks:
      - product-network

  # Redis Service
  redis:
    image: redis:alpine
    ports:
      - "6379:6379"
    networks:
      - product-network

networks:
  product-network:
    driver: bridge